<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Development Company Test Suite">
    <test name="Automated Service and Mapper Tests">
        <classes>
            <class name="com.solvd.developmentCompany.MachinesServiceTest"/>
            <class name="com.solvd.developmentCompany.ProjectServiceTest"/>
            <class name="com.solvd.developmentCompany.WorkerServiceTest"/>

        </classes>
    </test>
</suite>